.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p, a, li, small, td{
    @extend .lato-regular;
    letter-spacing: 1px;
    font-size: 20px;
}

.landing-nav{
    a{
        @extend .lato-regular;;
    }
}

h1{
    @extend .lato-bold;
}

small{
    letter-spacing: 1px;
    font-size: 13px;
    color: #333;
}

@media (max-width: 550px) {
    .side-nav, article{
        p, a, li, td{
            font-size: 15px;
        }
    }

    small{
        font-size: 12px;
    }
}