<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{{ .Title }}</title>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5XRTYN5DXE"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5XRTYN5DXE');
        </script>

        <meta charset="UTF-8">
        <meta name="author" content="Justcore">
        <meta name="description" content="Official website of Andrey Justcore – a game developer from Russia.">
        <link rel="canonical" href="https://justcore.space/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">

        <!-- Open Graph for Socials -->
        <meta property="og:title" content="Andrey Justcore">
        <meta property="og:description" content="Official website of Andrey Justcore – a game developer from Russia.">
        <meta property="og:image" content="https://justcore.space/img/justcore_logo.png">
        <meta property="og:url" content="https://justcore.space/">
        <meta property="og:type" content="website">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Andrey Justcore">
        <meta name="twitter:description" content="Official website of Andrey Justcore – a game developer from Russia.">
        <meta name="twitter:image" content="https://justcore.space/img/justcore_logo.png">

        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Andrey \"Justcore\" Lebedev",
        "givenName": "Andrey",
        "familyName": "Lebedev",
        "alternateName": "Justcore",
        "url": "https://justcore.space",
        "sameAs": [
            "https://justcore.bsky.social",
            "https://x.com/andreyjustcore",
            "https://github.com/justcoredev",
            "https://justcore.itch.io",
            "https://www.wikidata.org/wiki/Q135394710"
        ],
        "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"https://justcore.space/"
        },
        "jobTitle": "Game Developer",
        "description": "Game developer from Russia.",
        "birthDate": "2006-04-18",
        "image": "https://justcore.space/img/justcore_logo.png"
        }
        </script>

        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Justcore",
        "url": "https://justcore.space/",
        "creator": {
            "@type": "Person",
            "name": "Justcore"
        },
        "mainEntity": {
            "@type": "Person",
            "@id": "https://www.wikidata.org/wiki/Q135394710"
        }
        }
        </script>

        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{
            "@type": "Question",
            "name": "Who is Justcore?",
            "acceptedAnswer": {
            "@type": "Answer",
            "text": "Andrey \"Justcore\" Lebedev is a game developer based in Moscow, Russia."
            }
        }]
        }
        </script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        
        <!-- Socials font -->
        <script src="https://kit.fontawesome.com/d140bbf498.js" crossorigin="anonymous"></script>

        <!-- CSS -->
        {{ $main := resources.Get "scss/main.scss" | toCSS }}
        {{ $fonts := resources.Get "scss/fonts.scss" | toCSS }}
        {{ $posts_table := resources.Get "scss/posts_table.scss" | toCSS }}
        {{ $article := resources.Get "scss/article.scss" | toCSS }}

        <link rel="stylesheet" href="{{ $fonts.RelPermalink }}">
        <link rel="stylesheet" href="{{ $main.RelPermalink }}">
        <link rel="stylesheet" href="{{ $posts_table.RelPermalink }}">
        <link rel="stylesheet" href="{{ $article.RelPermalink }}">

        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    </head>
    <body>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </body>
</html>