{{ define "main" }}

<div class="article-container">

    <nav>
        <ul class="side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/post">Posts</a></li>
        </ul>
    </nav>

    <hr>

    <h1>{{ .Title }}</h1>

    <table class="posts-table">
        {{ range .Pages.ByDate.Reverse }}
        <tr>
            <td class="post-date">
                {{ .Date.Format "2006-01-02" }}
            </td>

            <td class="post-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </td>
        </tr>
        {{ end }}
    </table>

    <hr>

    <footer>
        <small>(c) {{ now.Year }} Justcore</small>
    </footer>

</div>

{{ end }}