{{ define "main" }}

<div class="article-container">

    {{ .Content }}

    <div class="article-center">
        <table class="posts-table">
            {{ range .Pages.ByDate.Reverse }}
            <tr>
                <td class="post-date">
                    {{ .Date.Format "2006-01-02" }}
                </td>

                <td class="post-title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>

<div class="article-center go-home-div">
    <p style="margin-bottom: 20px; margin-top: 0px;">
        <a href="javascript:history.back()">< Back</a>
    </p>
</div>

{{ end }}