{{ define "main" }}

<div class="article-container">

    <nav>
        <ul class="side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/post">Posts</a></li>
        </ul>
    </nav>

    <h1>{{ .Title }}</h1>

    <article>
        {{ if eq .Section "post" }}
            <p class="article-date">
                {{ .Date.Format "2006-01-02" }}
            </p>
        {{ end }}

        {{ .Content }}
    </article>
</div>

{{ end }}